:root {
  --primary: #2196f3;
  --darker-primary: rgba(60, 83, 199, 0.92);
  --lighter-primary: rgba(60, 83, 199, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  height: fit-content;
}

/* CLOCK */
.clock {
  display: flex;

  position: relative;
  overflow: hidden;
}

.clock__time {
  color: white;
  font-size: 5rem;
  font-weight: 700;

  display: flex;
  overflow: hidden;
  position: 'relative';
}
.clock__time span {
  transition: animation 800ms ease-in-out;

  display: flex;
  flex-direction: column;
}
.clock__time:not(:last-child)::after {
  content: ':';
}

.moveIn {
  animation: moveIn linear 500ms forwards;
}

.moveOut {
  animation: moveOut linear 500ms forwards;
}

@keyframes moveIn {
  from {
    transform: translateY(92px);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes moveOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-92px);
  }
}

/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: fit-content;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navigation__link {
  color: white;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

/* MAIN */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50%;
  width: 100%;
}

/* CONTENT LEFT */
.content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
}

/* CONTENT RIGHT */
aside {
  height: 100%;
  width: 30%;

  background-color: #5f7292;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}
.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__container {
  display: flex;
  justify-content: space-between;
  align-self: center;

  overflow: hidden;
  outline: 4px solid white;

  box-shadow: 3px 1px 10px 5px rgba(0, 0, 0, 0.5),
    -3px 1px 10px 5px rgba(0, 0, 0, 0.5);
}

.slider__item {
  max-width: 200px;
  aspect-ratio: 7/4;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__controls {
  position: absolute;

  transform: translateY(-50%, -50%);
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-top: 1em;
}

.slider__button {
  cursor: pointer;

  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.slider__button#prev {
  margin-left: 1em;
}

.slider__button#next {
  margin-right: 1em;
}
/* MOUSE TRACKER */
.mouseTracker {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgb(34, 34, 136);
}

.mouseTracker__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mouseTracker__title {
  font-size: 0.5rem;
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

.mouseTracker__item-x,
.mouseTracker__item-y {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
  padding: 1em 2em;

  width: 100%;
}
/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;

  padding: 1em 0;
}


main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 1em ;

}

/* RIPPLE BUTTON */
.main__button {
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: var(--primary);
  box-shadow: 0 2px 8px -2px var(--darker-primary);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(0);

  align-self: flex-start;
}

.main__button.ripple {
  background-position: center;
  transition: background 0.8s;
}

.main__button.ripple:focus-within {
  background-image: radial-gradient(circle, transparent 1%, var(--darker-primary) 1%);
  background-position: center;
  background-size: 16000%;
}

.main__button.ripple:active {
  background-image: radial-gradient(circle, transparent 1%, var(--lighter-primary) 1%);
  background-color: var(--lighter-primary);
  background-position: center;
  background-size: 100%;
  transition: background 0s, transform 0.2s;
}
/* Reference: https://codepen.io/avstorm/pen/oNvEoev */