:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.clock {
  display: flex;
}

.clock__time {
  color: white;
  font-size: 5rem;
  font-weight: 700;
}

.clock__time:not(:last-child)::after {
  content: ':';
}
